/* Global styling */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    #container {
        display: flex;
        flex-flow: row wrap;
        padding: 1rem;
        border: solid 1px grey;
        background-color: #AAA;
    }
}
