/* Breakpoints */
$desktop: 600px;

#container {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    border: solid 1px grey;
    background-color: #AAA;

    .c-posts--content {
        .c-posts--image {
            flex-basis: 100%;
            order: 1;
            margin-top: 3rem;
        }

        .c-posts--post-content {
            flex-basis: 100%;
            order: 2;

            .c-posts--post {
                margin-top: 50%;

                .c-posts--title {
                    font-weight: 600;
                }

                .c-posts--description {
                    font-size: .8em;
                    font-weight: 300;
                    opacity: .6;
                }
            }

            .c-posts--meta {
                margin-top: 40%;

                .c-posts--likes {
                    display: flex;
                    font-size: .8em;

                    img {
                        margin-right: .4em;
                    }

                    .c-posts--likes-count {
                        margin-top: auto;
                        opacity: .7;
                    }
                }

                .c-posts--date {
                    margin-top: 2em;
                    font-size: .6em;
                    opacity: .6;
                }
            }
        }
    }

    @media (min-width: $desktop) {
        .c-posts--content {
            .c-posts--image {
                flex-basis: 60%;
            }

            .c-posts--post-content {
                flex-basis: 40%;

                .c-posts--post {
                    margin-top: 70%;

                    .c-posts--meta {
                        margin-top: 70%;
                    }
                }
            }
        }
    }
}
